<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="home_url" value="https://localhost:44328/" />
		<add key="appointments_url" value="https://localhost:44328/Covid/Appointments" />
		<add key="users_url" value="https://localhost:44328/Covid/Users" />
		<add key="vaccines_url" value="https://localhost:44328/Covid/Vaccines" />
		<add key="privacy_url" value="https://localhost:44328/Covid/Privacy" />
	</appSettings>
</configuration>